/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}






input[type="text"] {
    border-radius:25px ;
    height: 25px;
    border-width: 1px;
    border-top-color:#eaeaeb;
    border-bottom-color:#eaeaeb;
    border-left-color:#eaeaeb;
    border-right-color:#eaeaeb;
    border-style: solid;
    background-image: url(images/search_icon.png);
    min-width: 300px;
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: left center;
    background-position: 5px;
    padding-left: 30px;
}
input:focus{
    box-shadow: 0 0 2pt 2pt rgba(90, 102, 168, 0.534);
    outline:none;    
}

input:focus::placeholder{
    color:transparent;
}

.child {
    margin-left:0;
    margin-right: auto;
}
.search-container{
    display: block;

    margin-top: 20px;
    text-align:center;
    
}

.img-container{
    text-align: center;
    margin-top: 200px;
}

.button-container{
    padding-top: 20px;
    
}
button{
    margin: 0 2px 0 2px;
    width: auto;
    padding: 8px 15px 8px 15px;
    border-radius: 5px;
    border-width: 0px;
    background-color: #f8f9fa;
    border-style: solid;
}
button:hover{
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    cursor: pointer;
    border-style: solid;
}
a{  font-family: arial;
    font-size: 13px;
    text-decoration: none;
    padding: 10px 5px 20px 5px;
    color:#202124;
    display:block;
    
}

a:hover{
    text-decoration:underline;
    
}
.top-nav{
    position: fixed;
    top: 0;
    margin-right: 20px;
}
           
ul.top{
    list-style: none;
    display: inline;
    position:fixed;
    top:0;
    width:100%;
    margin: 0 auto;

    padding: 0;
    text-align: center;
}
ul:last-child{
    right: 0;
}

li.right{
    float:right;
    }

li.left{
    float:left;
}
footer {
    /* list-style: none; */
    position:fixed;
    bottom:0;
   /*  padding: 0; */
    /* text-align: center; */
    background-color: #f2f2f2;
    width:100%;
    margin: 0 auto;
}
div.footer-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   /*  align-content: space-between; */
}
div.left-list{
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: flex-end;
    margin-right:auto;
    
}
div.right-list{
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: flex-end;
    margin-left:auto;
}

div div a{
    display: inline-block;
}
li {
    margin: 0 5px;
}

ul{
    list-style:none;
}